

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.splash-page {
    background: url('./splash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: #BA55D3;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100vw;
}

.flex-nav {
    align-items: center;
    display: flex;
    font-family: 'Circular', Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 1rem 5rem;
    text-align: left;
}

.flex-nav li {
    margin: 0;
}

#logo {
    flex: 1 1 auto;
    text-align: left;
}

#logo a svg {
    fill: #fff;
    height: 2.5rem;
    width: auto;
}

#logo a:hover svg {
    fill: #000;
}

.nav-scroll {
    color: #fff;
    flex: 1 1 auto;
    margin: 1rem;
    text-decoration: none;
}

.nav-scroll:hover {
    color: 	rgb(56,56,56);
}

#nav-support {
    border: solid 1px #fff;
    padding: 0.75rem 0;
}

#nav-support a {
    margin: 0;
    padding: 1rem;
}

#nav-support:hover {
    background-color: #fff;
}

#nav-support:hover a {
    color: #000;
}

h1 {
    margin: 0;
    padding: 5rem 0 0 0;
}
