

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Circular', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.splash-page {
    background: url('./splash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: rgba(0,0,0, 0.5);
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100vw;
}

.flex-nav {
    align-items: center;
    display: flex;
    /* font-family: 'Circular', Helvetica, sans-serif; */
    list-style-type: none;
    margin: 0;
    padding: 1rem 5rem;
    text-align: left;
}

.flex-nav li {
    margin: 0;
}

#logo {
    flex: 1 1 auto;
    text-align: left;
}

#logo a svg {
    fill: #fff;
    height: 2.5rem;
    width: auto;
}

#logo a:hover svg {
    fill: goldenrod;
}

.nav-scroll {
    color: #fff;
    flex: 1 1 auto;
    margin: 1rem;
    text-decoration: none;
}

.nav-scroll:hover {
    color: 	goldenrod;
}

#nav-support {
    border: solid 1px #fff;
    padding: 0.75rem 0;
}

#nav-support a {
    margin: 0;
    padding: 1rem;
}

#nav-support:hover {
    background-color: #fff;
}

#nav-support:hover a {
    color: 	goldenrod;
}

.about {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    padding: 0 10rem;
    width: 100vw;
}

/* .about h2 {
    font-family: 'Circular', Helvetica, sans-serif;
} */
